{% load staticfiles %}
{% load thumbnail %}
<title>PFC</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lobster" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static 'js/tablesorter.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% if request.user.profile.css == "3" %}
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
{% elif request.user.profile.css == "2" %}
    <link rel="stylesheet" href="{% static 'css/dark_theme.css' %}">
{% else %}
    <link rel="stylesheet" href="{% static 'css/original.css' %}">
{% endif %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({title: "<span style='font-size: 1.5em;'>¿Necesitas ayuda?</span>", html: true, placement: "auto"});
});
</script>