{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="ayudanotaminima" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="float-rt" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a><h2 class="modal-title"><span style="vertical-align: text-top;" class="glyphicon glyphicon-question-sign"></span> Valoración media de los usuarios</h2>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-body">
                        <div class="media-chat chat-lt">
                            <p>Sólo aparecerán los resultados cuya valoración de los usuarios sea superior a esta nota que elijas.</p>
                        </div>
                    </div>
                    <div class="media-right">
                        <img class="media-object logomedia-rt" src="{% static 'img/chatS2_ani.gif' %}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>