{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="ayudafiltrocategorias" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="float-rt" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a><h2 class="modal-title"><span style="vertical-align: text-top;" class="glyphicon glyphicon-question-sign"></span> Filtrar por categorías</h2><br>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object logomedia-lt" src="{% static 'img/chatS1_ani.gif' %}">
                    </div>
                    <div class="media-body">
                        <div class="media-chat chat-rt">
                            <p>Desde aquí podrás filtrar los resultados por categorías.</p>
                            <p>Verás que la categoría se selecciona si cambia el fondo a un color marrón oscuro. </p>
                            <p>Para quitar la selección de una categoría que hayas seleccionado por error, simplemente haz lo mismo que antes, y verás que el fondo cambia al color amarillo que tenía al inicio.</p>
                            <p>Puedes seleccionar todas las categorías que desees.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>