{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="ayudacategorias" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="float-rt" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a><h2 class="modal-title"><span style="vertical-align: text-top;" class="glyphicon glyphicon-question-sign"></span> Selección de categorías</h2><br>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object logomedia-lt" src="{% static 'img/chatS1_ani.gif' %}">
                    </div>
                    <div class="media-body">
                        <div class="media-chat chat-rt">
                            <p>Para seleccionar las categorías, simplemente pincha en la casilla de cada categoría.</p>
                            <p>La categoría se habrá seleccionado si ves que cambia de color. </p>
                            <p>Para quitar la selección de una categoría que hayas seleccionado por error, simplemente vuelve a pinchar en esa categoría, y verás que el fondo vuelve a su color original.</p>
                            <p>Puedes seleccionar todas las categorías que desees.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>