{% load staticfiles %}

<!-- Modal -->
  <div class="modal fade" id="temaoscuro" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content" style="background-color: white;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img src="{% static 'img/cssoscuro.jpg' %}" width="100%" style="border: 3px solid #000000;">
        </div>
      </div>

    </div>
  </div>