{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="ayudaradiobusqueda" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="float-rt" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a><h2 class="modal-title"><span style="vertical-align: text-top;" class="glyphicon glyphicon-question-sign"></span> Radio de búsqueda</h2><br>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object logomedia-lt" src="{% static 'img/chatS1_ani.gif' %}">
                    </div>
                    <div class="media-body">
                        <div class="media-chat chat-rt">
                            <p>Sólo aparecerán en los resultados los Lugares cuya distancia sea inferior a tu radio de búsqueda.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>