{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="ayudaverpois" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="float-rt" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a><h2 class="modal-title"><span style="vertical-align: text-top;" class="glyphicon glyphicon-question-sign"></span> Crear/Editar Lugares</h2>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-body">
                        <div class="media-chat chat-lt">
                            <p>Desde los enlaces siguientes podrás ver las páginas de información de cada Lugar.</p>
                            <p>El icono marcador <span class="glyphicon iconpoi glyphicon-map-marker"></span> verde significa que es un Lugar con categoría de Punto de Interés. </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <img class="media-object logomedia-rt" src="{% static 'img/chatS2_ani.gif' %}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>