{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="ayudaprioridad" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="float-rt" href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a><h2 class="modal-title"><span style="vertical-align: text-top;" class="glyphicon glyphicon-question-sign"></span> Criterio prioritario</h2><br>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object logomedia-lt" src="{% static 'img/chatS1_ani.gif' %}">
                    </div>
                    <div class="media-body">
                        <div class="media-chat chat-rt">
                            <p>El criterio que elijas tendrá prioridad sobre los otros dos, valorándose más los resultados que coincidan más con tu selección.</p>
                            <p>Eso no implica que resultados con peor puntuación en el criterio elegido no aparezcan con mayor puntuación en la recomendación. Puede ser que por la valoración del conjunto esto sea así. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>