{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}" style="color: #76DD00;"><img data-toggle="tooltip" title="Inicio" data-placement="bottom" style="height:2.5em; float:left; position: relative; top:-10px; left: -10px;" src="{% static 'img/bAROUND.png' %}" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        {% if perms.auth.change_user %}
        <li><a href="{% url 'user_list' %}">Usuarios</a></li>
        {% elif user.is_authenticated %}
        <li><a href="{% url 'user_info' pk=request.user.pk %}"><span class="glyphicon glyphicon-user"></span>&nbsp;Mi perfil</a></li>
        {% endif %}
        <li class="active dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-large"></span> Lugares&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="submenu" style="border-bottom: 2px solid #000000;"><a href="{% url 'place_list' tp='place' %}">&nbsp;<span style="font-weight: bolder; border-bottom: 3px solid #000000; vertical-align: baseline; font-size: larger;" class="badge">{{request.session.nplaces}}</span>&nbsp;Todos los Lugares </a></li>
            <li class="submenu"><a href="{% url 'place_list' tp='site' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bolder; background-color: #AA0000; vertical-align: baseline; font-size: larger;" class="badge">{{request.session.nsites}}</span>&nbsp;<span style="font-size: larger;" class="glyphicon iconsite glyphicon-map-marker"></span>&nbsp;Sitios sólo </a></li>
            <li class="submenu"><a href="{% url 'place_list' tp='poi' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bolder; background-color: #007700; vertical-align: baseline; font-size: larger;" class="badge">{{request.session.npois}}</span>&nbsp;<span style="font-size: larger;" class="glyphicon iconpoi glyphicon-map-marker"></span>&nbsp;Puntos de Interés sólo </a></li>
          </ul>
        </li>
        <li><a href="{% url 'recomend' %}"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;Recomendador</a></li>
        <li><a href="{% url 'ayuda' %}"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Ayuda</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li style="padding-top: 14px;"><a style="padding-right: 5px; display:inline;" href="{% url 'user_info' pk=user.pk %}"> Hola {{ request.user.username }}</a><a style="padding-left: 5px; display:inline;" href="{% url 'logout' %}"><span data-toggle="tooltip" title="Pincha para desconectarte" data-placement="auto" class="glyphicon glyphicon-off"></span></a></li>
        {% else %}
        <li><a href="{% url 'login' %}"> Identifícate <span class="glyphicon glyphicon-log-in"></span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>

    <div class="progress-container"><div class="progress-bar-top" id="myBar"></div></div>

</nav>