{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
  {% include 'f_head.html' %}

</head>


<body id="bodi">
{% if request.user.profile.css == "3" %}

{% if tipo == 'place' %}
{% include 'navbarsimple2.html' %}
{% elif tipo == 'site' %}
{% include 'navbarsimple2s.html' %}
{% else %}
{% include 'navbarsimple2p.html' %}
{% endif %}
{% include 'carrusel.html' %}

{% else %}

{% include 'navbar2.html' %}
{% include 'carrusel.html' %}

{% endif %}

<div class="row">
  <div id="filtros" style="margin-top:2em;" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">

    {% if request.user.profile.css == "3" %}
    {% if tipo == 'place' %}<form class="btn-group-vertical" method="get" action="{% url 'place_list' tp='place' %}">
    {% elif tipo == 'site' %}<form class="btn-group-vertical" method="get" action="{% url 'place_list' tp='site' %}">
    {% else %}<form class="btn-group-vertical" method="get" action="{% url 'place_list' tp='poi' %}">{% endif %}

    <span class="filtro-head">Selecciona una o más<br>categorías para filtrar<br>los resultados&nbsp;<a data-toggle="tooltip"><span data-toggle="modal" data-target="#ayudafiltrocategorias" class="glyphicon glyphicon-arrow-down"></span></a>&nbsp;</span>

{% else %}
    <input class="form-control" id="buscador" type="text" placeholder="Buscar en los resultados...">
    {% if tipo == 'place' %}<form class="btn-group-vertical" method="get" action="{% url 'place_list' tp='place' %}">
    {% elif tipo == 'site' %}<form class="btn-group-vertical" method="get" action="{% url 'place_list' tp='site' %}">
    {% else %}<form class="btn-group-vertical" method="get" action="{% url 'place_list' tp='poi' %}">{% endif %}<br>

    <h4 class="filtro-head" >Filtrar por categorías&nbsp;&nbsp;<a data-toggle="tooltip"><span data-toggle="modal" data-target="#ayudafiltrocategorias" class="glyphicon glyphicon-question-sign" style="color: #FFFFFF;"></span></a>&nbsp;</h4>

{% endif %}
    <input class="btn btn-filtro {% if 0 in cats %}bactive{% endif %}" type="submit" value="Arte y diseño" name="cat" />
    <input class="btn btn-filtro {% if 1 in cats %}bactive{% endif %}" type="submit" value="Arquitectura" name="cat" />
    <input class="btn btn-filtro {% if 2 in cats %}bactive{% endif %}" type="submit" value="Historia" name="cat" />
    <input class="btn btn-filtro {% if 3 in cats %}bactive{% endif %}" type="submit" value="Ciencia y tecnología" name="cat" />
    <input class="btn btn-filtro {% if 4 in cats %}bactive{% endif %}" type="submit" value="Naturaleza" name="cat" />
    <input class="btn btn-filtro {% if 5 in cats %}bactive{% endif %}" type="submit" value="Aventura" name="cat" />
    <input class="btn btn-filtro {% if 6 in cats %}bactive{% endif %}" type="submit" value="Literatura" name="cat" />
    <input class="btn btn-filtro {% if 7 in cats %}bactive{% endif %}" type="submit" value="Música" name="cat" />
    <input class="btn btn-filtro {% if 8 in cats %}bactive{% endif %}" type="submit" value="Vida urbana" name="cat" />

  </form>
  </div>

  <div class="container">
  <div class="col-xs-12 col-sm-5 col-md-6 col-lg-9">
    <div style="padding-left: 3em;">
    {% if tipo == 'place' %}
    <h2>Listado de Lugares <a data-toggle="tooltip" ><span data-toggle="modal" data-target="#ayudaverlugares" class="glyphicon glyphicon-question-sign"></span></a></h2><br>
      {% if perms.PFC.add_place %}
      <a href="{% url 'new_place' tp='site' %}"><span class="glyphicon glyphicon-plus"></span> Añadir nuevo Sitio </a><br>
      <a href="{% url 'new_place' tp='poi' %}"><span class="glyphicon glyphicon-plus"></span> Añadir nuevo Punto de Interés </a><br><br>
      {% endif %}
    {% elif tipo == 'site' %}
    <h2>Listado de Sitios <a data-toggle="tooltip" ><span data-toggle="modal" data-target="#ayudaverlugares" class="glyphicon glyphicon-question-sign"></span></a></h2><br>
      {% if perms.PFC.add_place %}
      <a href="{% url 'new_place' tp='site' %}"><span class="glyphicon glyphicon-plus"></span> Añadir nuevo Sitio </a><br><br>
      {% endif %}
    {% else %}
    <h2>Listado de Puntos de Interés <a data-toggle="tooltip" ><span data-toggle="modal" data-target="#ayudaverlugares" class="glyphicon glyphicon-question-sign"></span></a></h2><br>
      {% if perms.PFC.add_place %}
      <a href="{% url 'new_place' tp='poi' %}"><span class="glyphicon glyphicon-plus"></span> Añadir nuevo Punto de Interés </a><br><br>
      {% endif %}
    {% endif %}

    <div id="resultados">



        {% if tipo == 'place' %}
        <a href="{% url 'place_list' tp='site' %}">Ver sólo los <span class="glyphicon iconsite glyphicon-map-marker"></span>Sitios</a><br>
        <a href="{% url 'place_list' tp='poi' %}">Ver sólo los <span class="glyphicon iconpoi glyphicon-map-marker"></span>Puntos de Interés</a><br>
        <div style="border-bottom: solid 2px #222222; width: 100%;"></div><br>
        {% elif tipo == 'site' %}
        <a href="{% url 'place_list' tp='place' %}">Ver todos los <span class="glyphicon iconsite glyphicon-map-marker"></span><span style="margin-left:-7px;" class="glyphicon iconpoi glyphicon-map-marker"></span>Lugares</a><br>
        <a href="{% url 'place_list' tp='poi' %}">Ver sólo los <span class="glyphicon iconpoi glyphicon-map-marker"></span>Puntos de Interés</a><br>
        <div style="border-bottom: solid 2px #222222; width: 100%;"></div><br>
        {% else %}
        <a href="{% url 'place_list' tp='place' %}">Ver todos los <span class="glyphicon iconsite glyphicon-map-marker"></span><span style="margin-left:-7px;" class="glyphicon iconpoi glyphicon-map-marker"></span>Lugares</a><br>
        <a href="{% url 'place_list' tp='site' %}">Ver sólo los <span class="glyphicon iconsite glyphicon-map-marker"></span>Sitios</a><br>
        <div style="border-bottom: solid 2px #222222; width: 100%;"></div><br>
        {% endif %}




      {% for item in item_list %}
      <span>
      {% if item.tipo == 'site' %}
      <a href="{% url 'place_info' pk=item.pk %}"><span class="glyphicon iconsite glyphicon-map-marker"></span>  {{ item.name }}</a>
      {% else %}
      <a href="{% url 'place_info' pk=item.pk %}"><span class="glyphicon iconpoi glyphicon-map-marker"></span>  {{ item.name }}</a>
      {% endif %}
        {% if item.author == request.user.pk and perms.PFC.add_place %}
              <a href="#" data-toggle="modal" data-target="#confirmplacedelete{{item.pk}}">  <span data-toggle="tooltip" title="Pincha para borrar este sitio" class="glyphicon glyphicon-remove"></span></a> <a href="{% url 'edit_place' pk=item.pk  %}" data-toggle="tooltip" title="Pincha para editar este sitio"><span class="glyphicon glyphicon-edit"></span></a><a href="{% url 'add_photo' pk=item.pk  %}" data-toggle="tooltip" title="Pincha para añadir imágenes a este sitio"> <span class="glyphicon glyphicon-picture"></span>+</a>
                <!-- Modal --><div class="modal fade" id="confirmplacedelete{{item.pk}}" role="dialog"><div class="modal-dialog"><!-- Modal content--><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¿Estás seguro de que quieres eliminar definitivamente este lugar?</h4></div><div class="modal-body"><a class="btn btn-default btn-confirm" href="{% url 'delete_place' pk=item.pk list='profile' %}">SÍ, ELIMINAR</a></div><div class="modal-footer"><button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">CANCELAR</button></div></div></div></div>
      {% endif %}
      </span><br>
      {% endfor %}
    </div>

    </div>
  </div>
</div></div>





<br><br>
{% include 'footer.html' %}
{% include 'modalverlugares.html' %}
{% include 'modalfiltrocategorias.html' %}
<script>
$(document).ready(function(){
  $("#buscador").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#resultados *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</body>
</html>